<%- include('partials/header'); %>
  <%- include('partials/navbar') %> 
  <div class="container">
    <div class="row">
      <div class="col-7 mx-auto">
        <form action="/new-password" method="post">
          <div class="my-2">
            <label for="title">TItle</label>
            <input type="text" class="form-control" name="title" placeholder="Website Title" required/>
          </div>
          <div class="mb-2">
            <label for="website">Website</label>
            <input type="text" class="form-control" name="website" placeholder="Website URL" required/>
          </div>
          <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Website Password" class="form-control" required/>
          </div>
          <button class="btn btn-primary" type="submit">Create ></button>
        </form>
      </div>
    </div>
  </div>
<%- include('partials/footer'); %>